<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>       
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Control</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
    </head>
	
    <body>
	<h3>Control Server<h3>
	<div class = "row">
	<div class = "col-md-8">
		<img src = "{{ url_for('video_feed') }}" style = "width:600px;height:400px;">
	</div>
	</div>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <p>
	<form action = "/1" method = 'POST'>
          <button type='button' id='up'>UP</button>
	</form> 
         <button type='button' id='down'>DOWN</button>
        </p>

	
	<!-- start -->
	<div class="col-md-4" style = "margin-left:800px; margin-top:0px">
	      <form action="/turret_motion" method="post">
	          <div class = "row" style = "margin-left: 30px">
	        <button id = "up" type="submit" class="btn btn-link">
	          <span style="font-size:5em;"class="glyphicon glyphicon-arrow-up"></sp$
	        </button></div>
	        <div class="row">
	        <button id = "left" type="submit" class="btn btn-link">
	          <span style="font-size:5em;"class="glyphicon glyphicon-arrow-left"></sp$
	        </button>
	        <button id = "right" type="submit" class="btn btn-link">
	          <span style="font-size:5em;"class="glyphicon glyphicon-arrow-right"></sp$
	        </button></div>
	        <div class = "row" style="margin-left:30px">
	        <button id = "down" type="submit" class="btn btn-link">
	          <span style="font-size:5em;"class="glyphicon glyphicon-arrow-down"></sp$
	        </button>
	        </div>
		<div class = "row"><button id = "range" type = "submit">Range</button></div>
		<div class = "row"><button id = "Measure" type = "submit" style = "margin-top:10px">Measure</button></div>
	      </form>
		
	</div>

	<!-- finish -->


        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script>
          $(document).ready(function() {
            $('#up').click(function() {
              $.post('/move/1');
            });
            $('#down').click(function() {
              $.post('/move/2');
            });
          });
        </script>
    </body>
</html>